#member-custom-quantity-list {
    --member-primary-color: #1462B0;
}

#member-custom-quantity-list .member-group:hover .member {
    cursor: pointer;
    color: white;
    background-color: var(--member-primary-color);
}

#member-custom-quantity-list .member-group:hover .tooltip-content {
    display: flex;
    flex-direction: column;
}

#member-custom-quantity-list .member {
    padding: 0.5rem;
    border: 1px solid var(--member-primary-color);
    color: var(--member-primary-color);
    border-radius: 0.25rem;
}

#member-custom-quantity-list .tooltip-content {
    min-width: 280px;
    max-height: 250px;
    position: absolute;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    white-space: nowrap;
    display: none;
    overflow: auto;
}

#member-custom-quantity-list .custom-scroll-page {
    display: flex;
    flex-direction: column;
    max-height: 73vh;
    overflow-y: auto;
}

#member-custom-quantity-list .custom-scroll-page::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#member-custom-quantity-list .custom-scroll-page::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#member-custom-quantity-list .custom-scroll-page::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#member-custom-quantity-list .custom-scroll-page::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#member-custom-quantity-list #member-item:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

/* lib rc-tooltip */
.rc-tooltip-content .rc-tooltip-inner {
    background-color: #fff;
    padding: 8px;
}

.rc-tooltip-placement-top .rc-tooltip-arrow {
    border-top-color: #ccc !important;
}

.rc-tooltip-placement-bottom .rc-tooltip-arrow {
    border-bottom-color: #ccc !important;
}

.rc-tooltip-placement-right .rc-tooltip-arrow {
    border-right-color: #ccc !important;
}

.rc-tooltip-placement-left .rc-tooltip-arrow {
    border-left-color: #ccc !important;
}